@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

*::selection {
  background-color: #ad2419;
}

html,
body {
  @apply scrollbar-hide;
}
